.l-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;

  @include sp {
    background-color: #fff;
  }
  
  &_cont {
    padding: 3rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
      padding: 2rem;
    }
  }
  
  &_logo {
    width: 72px;
    height: auto;

    @include sp {
      width: 5rem;
    }
  }

  &_nav {
    &_list {
      display: flex;
      gap: 4rem;

      @include sp {
        gap: 2rem;
      }
    }

    &_item {
      
    }

    &_link {
      letter-spacing: 0.1em;
      font-weight: 400;

      &.is-active {
        text-decoration: underline;
      }

      img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 1.4rem;
        height: 1.4rem;
        position: relative;
        bottom: 1px;
      }
    }
  }
}