.l-work {
  &_heading {
    position: relative;
    display: flex;
    max-width: 2000px;
    margin: auto;
    justify-content: space-evenly;

    @include sp {
      flex-direction: column;
      gap: 2rem;
    }

    &_cont {
      width: 35%;
      padding: 0 3rem 0 4rem;

      @media screen and (max-width: 1000px) {
        padding-left: 2rem;
      }

      @include sp {
        width: 100%;
        padding: 0 0 0 5%;
      }
    }
  }
  
  &_ttl {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.5;

    @include sp {
      font-size: 1.8rem;
    }
  }

  &_date {
    margin-top: 1rem;
  }

  &_info {
    width: 65%;

    @include sp {
      width: 95%;
      margin-left: auto;
    }
  }
  
  &_mv {
    width: 100%;
    height: calc(100vh - 23rem);

    @include sp {
      height: 20rem;
    }
  
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_sitelink {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 2rem;

    @include sp {
      font-size: 1.4rem;
    }
  }

  &_table {
    margin-top: 8rem;
    
    @include sp {
      margin-top: 4rem;
    }

    &_row {
    }

    &_ttl {
      width: 6em;
      font-weight: 400;
      padding-bottom: 2rem;

      @include sp {
        padding-bottom: 1rem;
      }
    }

    &_cont {
      padding-bottom: 2rem;

      @include sp {
        padding-bottom: 1rem;
      }
    }
  }

  &_desc {
    margin-top: 4rem;
    padding-right: 1em;

    @include sp {
      margin-top: 2rem;
    }
  }

  &_video {
    background-color: $color-grayLight;
    padding: 10rem 0;
    margin-top: 10rem;

    @include sp {
      padding: 4rem 0;
      margin-top: 4rem;
    }

    &_box {
      height: 0;
      padding-bottom: 56.25%;
      position: relative;
    }

    iframe {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
    }
  }

  &_pcCapture {
    margin-top: 10rem;

    @include sp {
      margin-top: 4rem;
    }
  }

  &_spCapture {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    @include sp {
      margin-top: 4rem;
      gap: 2rem;
      grid-template-columns: 1fr;
    }
  }

  &_back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: 20rem auto 0;
    border-bottom: 1px solid $color-dark;
    font-size: 2rem;
    gap: 5rem;
    
    @include sp {
      font-size: 1.4rem;
      margin-top: 6rem;
    }
  }
}